@font-face {
  font-family: rufi;
  src: url(fonts/ReemKufi-Regular.ttf);
}
body {
  font-family: rufi, sans-serif;
  /*z-index: -3;*/
  background-color: rgba(255, 255, 255, 1);
  /*background: #328CC1;
  background: -webkit-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: -o-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: -moz-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: radial-gradient(closest-side at 27% 45%, #1a4a65, #328CC1);*/
  /*background-image: url("images/background_light.jpg");*/
  overflow-x: hidden;
}

hr{
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.projectBox{
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.descriptionBox{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.webEmbed {
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.webEmbed iframe {
    position: absolute;
    top:0;
    left: 30%;
    width: 40%;

    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
a{
  color: rgb(0, 0, 100);
  text-decoration: none;
  transition: 0.3s;
}
a:hover, a:visited:hover{
  color: rgb(40, 40, 250);
}
a:visited{
  color: rgb(0, 0, 170);
  text-decoration: none;
}

@media screen and (max-width: 1020px){
  body{
    font-size: 0.7em;
  }
  hr{
    width: 80%;
  }
  .projectBox{
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .descriptionBox{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .webEmbed iframe {
      position: absolute;
      top:0;
      left: 5%;
      width: 90%;

      height: 100%;
  }
  .webEmbed {
      position: relative;
      padding-bottom: 140%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
  }
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
  }
}
