@font-face {
  font-family: rufi;
  src: url(fonts/ReemKufi-Regular.ttf);
}
body {
  font-family: rufi, sans-serif;
  /*z-index: -3;*/
  background-color: rgba(255, 255, 255, 1);
  /*background: #328CC1;
  background: -webkit-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: -o-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: -moz-radial-gradient(10% 10%, closest-side, #1a4a65, #328CC1);
  background: radial-gradient(closest-side at 27% 45%, #1a4a65, #328CC1);*/
  /*background-image: url("images/background_light.jpg");*/
  overflow-x: hidden;
}
.projectBox{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.descriptionBox{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
a{
  color: rgb(255, 236, 179);
  text-decoration: none;
  transition: 0.3s;
}
a:hover, a:visited:hover{
  color: rgb(255, 210, 77);
}
a:visited{
  color: rgb(255, 236, 179);
  text-decoration: none;
}
